<div style="padding: 24px; display: flex; justify-content: center;">
  <nz-card nzTitle="Initier un nouveau virement" style="width: 100%; max-width: 600px;">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" nzLayout="vertical">

      <nz-form-item>
        <nz-form-label nzRequired>Compte Expéditeur</nz-form-label>
        <nz-form-control nzErrorTip="Veuillez sélectionner un expéditeur!">
          <nz-select formControlName="senderEmail" nzPlaceHolder="Sélectionnez un expéditeur" [nzLoading]="isLoadingUsers" nzShowSearch>
            <nz-option *ngFor="let user of users" [nzValue]="user.email" [nzLabel]="user.fullName + ' (' + user.email + ')'"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>Compte Bénéficiaire</nz-form-label>
        <nz-form-control nzErrorTip="Veuillez sélectionner un bénéficiaire!">
          <nz-select formControlName="receiverEmail" nzPlaceHolder="Sélectionnez un bénéficiaire" [nzLoading]="isLoadingUsers" nzShowSearch>
            <nz-option *ngFor="let user of users" [nzValue]="user.email" [nzLabel]="user.fullName + ' (' + user.email + ')'"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired>Montant (DH)</nz-form-label>
        <nz-form-control nzErrorTip="Veuillez saisir un montant valide (min. 0,01 DH)!">
          <nz-input-number
            formControlName="amount"
            [nzMin]="0.01"
            [nzStep]="10"
            style="width: 100%;"
            nzPlaceHolder="Montant"
            [nzFormatter]="formatter"
            [nzParser]="parser"
          ></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <div style="margin-top: 16px;">
        <button nz-button nzType="primary" [nzLoading]="isSubmitting" style="width: 100%;">
          Confirmer et Envoyer
        </button>
      </div>

    </form>
  </nz-card>
</div>
